{% if ui_frontend_url != '' %}
{% set baseurl = ui_frontend_url %}
{% elif eaas_hostname == 'localhost' %}
{% set baseurl = 'http://eaas:80' %}
{% else %}
{% set baseurl = eaas_base_url %}
{% endif %}

objectarchive:
  httpexport: "{{ baseurl }}/objectarchive/"
  default_archive: "{{ eaas_default_archive }}"
  user_archive_enabled: {{ eaas_user_archive_enabled | lower }}
  user_archive_prefix: "{{ eaas_user_archive_prefix }}"

{% if eaas_enable_user_auth %}
authentication:
  authJwksUri: "{{ baseurl }}/auth/realms/master/protocol/openid-connect/certs"
  authAudience: "{{ eaas_auth_audience }}"
  authEnabled: true
  keycloakAdminUser: {{ keycloak_admin_user }}
  adminRoleLabel: {{ keycloak_admin_role_label }}
  userRoleLabel: {{ keycloak_user_role_label }}
{% endif %}

emil:
  classificationservice: "{{ baseurl }}/"
  imageproposerservice: "{{ baseurl }}/"
{% if eaas_enable_user_auth %}
  singleUserMode: {{ eaas_auth_single_user | lower }}
{% endif %}

{% if minio_enabled %}
storage:
  s3_user_access_key_id: "{{ minio_user_key }}"
  s3_user_access_key_secret: "{{ minio_user_secret }}"
{% endif %}

ws:
{% if not eaas_standalone %}
  blobstore: "{{ baseurl }}"
  imagebuilder: "{{ baseurl }}"
  imagearchive: "{{ baseurl }}"
  eaasgw:  "{{ baseurl }}"
  embedgw: "{{ baseurl }}"
  objectarchive: "{{ baseurl }}"
  softwarearchive: "{{ baseurl }}"
{% endif %}
{% if eaas_enable_backend_auth is defined and eaas_enable_backend_auth %}
  apiSecret: "{{ eaas_internal_api_secret }}"
{% endif %}

rest:
  blobstore: "{{ baseurl }}/blobstore/api/v1/blobs"
{% if eaas_enable_backend_auth is defined and eaas_enable_backend_auth %}
  internalApiSecret: "{{ eaas_internal_api_secret }}"
  apiSecret: "{{ eaas_api_secret }}"
{% endif %}

emucomp:
  blobstore_soap: "{{ baseurl }}"
  blobstore_rest: "{{ baseurl }}/blobstore/api/v1/blobs"
{% if eaas_http_proxy != '' %}
  image_proxy: {{ eaas_http_proxy }}
{% endif %}
{% if eaas_enable_webrtc %}
  enable_pulseaudio: true
{% endif %}

imagebuilder:
  blobstore: "{{ baseurl }}/"

components:
  client_timeout: 30s
  timeout: 60s
  emulator_containers:
    enabled: {{ eaas_enable_emulator_containers | default(true) | lower }}
    snapshot: {{ eaas_enable_snapshots | default(false) | lower }}
    uid: 1000
    gid: 1000
  containers:
    blobstore: "{{ baseurl }}"

  session_statistics:
    flush_delay: 30s

  tcpNode:
    ports: 10000-10009

{% if eaas_enable_new_image_archive %}
imagearchive:
  # legacy implementation
  backends:
  - name: public
    type: filesystem
    basepath: /home/bwfla/image-archive/public
    http_prefix: "{{ baseurl }}/imagearchive/public"
    nameindex_config_path: /home/bwfla/.bwFLA/nameindices/public/
    export_handles: {{ eaas_enable_handlenet | lower }}
  - name: remote
    type: filesystem
    basepath: /home/bwfla/image-archive/remote
    http_prefix: http://hdl.handle.net/11270
    nameindex_config_path: /home/bwfla/.bwFLA/nameindices/remote/
    export_handles: false
    order: 1
  - name: emulators
    type: filesystem
    basepath: /home/bwfla/image-archive/emulators
    http_prefix: "http://nginx:81/"
    nameindex_config_path: /home/bwfla/.bwFLA/nameindices/emulators/
    export_handles: false
  - name: default
    type: filesystem
    basepath: /home/bwfla/image-archive/
    http_prefix: "http://nginx:81/"
    nameindex_config_path: /home/bwfla/.bwFLA/nameindices/default/
    order: 2

  # image-archive v2
  storage:
    endpoints:
    - name: "minio"
      address: "http://minio:9000"
      credentials:
        access_key: "{{ minio_user_key }}"
        secret_key: "{{ minio_user_secret }}"
{% for storage in eaas_imagearchive_storage if storage.provider != 'minio' %}
    - name: "minio-gw-{{ loop.index }}"
      address: "{{ baseurl }}"
      credentials:
        access_key: "{{ storage.credentials.access_key | default(minio_key) }}"
        secret_key: "{{ storage.credentials.secret_key | default(minio_secret) }}"
{% endfor %}

    locations:
{% if eaas_imagearchive_storage == [] %}
    - name: "default"
      endpoint: "minio"
      bucket: "image-archive"
      paths:
        aliasing: "/aliases"
        container: "/containers"
        machine: "/machines"
        emulator: "/emulators"
        template: "/templates"
        checkpoint: "/images"
        image: "/images"
        rom: "/images"
        environment: "/environments"
        session: "/sessions"
        network: "/networks"
        emulator-metadata: "/metadata/emulators"
        image-metadata: "/metadata/images"

    - name: "public"
      endpoint: "minio"
      bucket: "image-archive"
      paths:
        aliasing: "/public/aliases"
        container: "/public/containers"
        machine: "/public/machines"
        emulator: "/public/emulators"
        template: "/public/templates"
        checkpoint: "/public/images"
        image: "/public/images"
        rom: "/public/images"
        environment: "/public/environments"
        session: "/public/sessions"
        network: "/public/networks"
        emulator-metadata: "/public/metadata/emulators"
        image-metadata: "/public/metadata/images"

    - name: "remote"
      endpoint: "minio"
      bucket: "image-archive"
      paths:
        aliasing: "/remote/aliases"
        container: "/remote/containers"
        machine: "/remote/machines"
        emulator: "/remote/emulators"
        template: "/remote/templates"
        checkpoint: "/remote/images"
        image: "/remote/images"
        rom: "/remote/images"
        environment: "/remote/environments"
        session: "/remote/sessions"
        network: "/remote/networks"
        emulator-metadata: "/remote/metadata/emulators"
        image-metadata: "/remote/metadata/images"

    default_location: "default"
{% else %}
{% for storage in eaas_imagearchive_storage if storage.provider == 'minio' %}
{% if loop.index > 1 %}
  {{ unsupported | mandatory('Multiple local MinIO instances are not supported!') }}
{% endif %}
{% for location in storage.locations %}
    - name: "{{ location.name }}"
      endpoint: "minio"
      bucket: "{{ location.bucket }}"
      paths:
{% if location.paths is defined %}
        {{ location.paths | to_nice_yaml(indent=2) | indent(8) -}}
{% else %}
        aliasing: "/aliases"
        environment: "/environments"
        session: "/sessions"
        network: "/networks"
        container: "/containers"
        machine: "/machines"
        emulator: "/emulators"
        template: "/templates"
        checkpoint: "/images"
        image: "/images"
        rom: "/images"
        emulator-metadata: "/metadata/emulators"
        image-metadata: "/metadata/images"
{% endif %}

{% endfor %}
{% endfor %}
{% for storage in eaas_imagearchive_storage if storage.provider != 'minio' %}
{% set endpoint = 'minio-gw-' + loop.index | string %}
{% for location in storage.locations %}
    - name: "{{ location.name }}"
      endpoint: "{{ endpoint }}"
      bucket: "{{ location.bucket }}"
      paths:
{% if location.paths is defined %}
        {{ location.paths | to_nice_yaml(indent=2) | indent(8) -}}
{% else %}
        aliasing: "/aliases"
        environment: "/environments"
        session: "/sessions"
        network: "/networks"
        container: "/containers"
        machine: "/machines"
        emulator: "/emulators"
        template: "/templates"
        checkpoint: "/images"
        image: "/images"
        rom: "/images"
        emulator-metadata: "/metadata/emulators"
        image-metadata: "/metadata/images"
{% endif %}

{% endfor %}
{% endfor %}
    default_location: "{{ eaas.imagearchive.default_location | mandatory }}"
{% endif %}
{% endif %}

{% if eaas_enable_oaipmh_provider %}
metadata_provider:
  base_url: "{{ baseurl }}/oaipmh/providers"
  backends:
  - name: "environments"
    identity:
      repository_name: 'EaaSI data repository'
      earliest_date: '2018-11-01T00:00:00Z'
      admin_email: 'admin@example.invalid'

    source:
      base_url: "{{ baseurl }}/emil/metadata-repositories/public-environments"

    response_limits:
      max_num_identifiers: 50
      max_num_records: 50
      max_num_sets: 100

  - name: "images"
    identity:
      repository_name: 'EaaSI data repository'
      earliest_date: '2018-11-01T00:00:00Z'
      admin_email: 'admin@example.invalid'

    source:
      base_url: "{{ baseurl }}/emil/metadata-repositories/public-images"

    response_limits:
      max_num_identifiers: 50
      max_num_records: 50
      max_num_sets: 100
{% endif %}

{% if eaas_enable_oaipmh_harvester %}
metadata_harvester:
    base_url: "{{ baseurl }}/oaipmh/harvesters"
{% endif %}

clustermanager.providers.defaults.all.protocol: ""

{% if eaas_migrations | length > 0 %}
migrations:
{{ eaas_migrations | to_nice_yaml(indent=2) }}
{% endif %}
